<%= image_tag 'music.jpg', :size => '500x300',:class => 'top_image' %>
<div class="main">
  <%= image_tag 'maiku.png', :size => '150x150', :class => 'icon' %>
  <%= image_tag 'sumaho.png', :size => '150x150', :class => 'icon' %>
  <%= image_tag 'youtube.png', :size => '150x150', :class => 'icon' %>
  <div class="description">
    <p>録音をしましょう</p>
    <p>ステータス管理</p>
    <p>動画投稿をしよう</p>
  </div>
</div>
