// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  text-align: center;
  padding-bottom: 100px;
}

.new_botan {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-20px {
  padding: 20px;
}

.box {
  width: 320px;
  margin:  2rem auto;
}

.box .box-title {
  font-size: 1.2em;
  background: #190707;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box p {
  padding: 15px 5px;
  margin: 0;
}

iframe {
  border-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.top_bottom, img {
  padding-bottom: 5px;
}

.float_right {
  float: right;
}

img {
  margin-right: 10px;
}

div.top_bottom {
  text-align: left;
  margin-left: 15px;
}
.margin_bottom100 {
  margin-bottom: 100px;
}
.margin_top50 {
  margin-top: 50px;
}
.form_width {
    width: 300px;
    margin: 0 auto;
}
.margin_bottom200 {
  margin-bottom: 200px;
}
.margin_bottom50 {
  margin-bottom: 50px !important;
}
.sample_select {
  width:200px;
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  padding:8px 0 10px;
  color:#fff;
  background-color:#000000;
}
.sample {
  width:200px;
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  padding:8px 0 10px;
  color:#fff;
  background-color:#C0C0C0;
}
.xs_size {
  width: 500px;
  margin: 0 auto;
  height: 44px;
}
