<div class="margin_top50 margin_bottom50">
  <% @AllClass = "sample btn" %>
  <% @PreClass = "sample btn" %>
  <% @Pre_doneClass = "sample btn" %>
  <% @PostedClass = "sample btn" %>
  <% if params[:id] == "pre" %>
    <% @PreClass = "sample_select btn" %>
  <% elsif params[:id] == "pre_done" %>
    <% @Pre_doneClass = "sample_select btn" %>
  <% elsif params[:id] == "posted" %>
    <% @PostedClass = "sample_select btn" %>
  <% else %>
    <% @AllClass = "sample_select btn" %>
  <% end %>
  <%= link_to 'ALL', videos_path, class: @AllClass %>
  <%= link_to '準備中', filter_video_path('pre'), class: @PreClass %>
  <%= link_to '準備完了', filter_video_path('pre_done'), class: @Pre_doneClass %>
  <%= link_to 'Youtube投稿済み', filter_video_path('posted'), class: @PostedClass %>
</div>
