// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  text-align: center;
  padding-bottom: 100px;
}

.new_botan {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-20px {
  padding: 20px;
}

.box {
    background: #FBEFF2;
    width: 1000px;
    margin:  2rem auto;
}
.box .box-title {
    font-size: 1.2em;
    background: #F7819F;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box p {
    padding: 15px 5px;
    margin: 0;
}
