// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  text-align: center;
}

.new_botan {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-20px {
  padding: 20px;
}
