<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールが変更されていることをあなたに知らせるために連絡しています <%= @resource.unconfirmed_email %>。</p>
<% else %>
  <p>あなたのメールアドレスがに変更されたことを通知するために連絡しています <%= @resource.email %>。</p>
<% end %>
